# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.WPF_MVVM.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Szafer\RiderProjects\WPF_MVVM\.idea\.idea.WPF_MVVM\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
